body {
	background: #fff;
}

h1 {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align : justify;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:	10%;
	margin-bottom:	7%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #BDBDBD;
	text-align : left;
	font-size: 40px;
	position: absolute;
	top: 12%;
	left: 78%;
	right: 5%;
}

p{
	color: #000;
	font-family: 'Unna', serif;
	font-size: 20px;
	text-align : justify;
	margin-left: 25%;
	margin-right: 25%;
}
