body {
	background: #fff;
}

section {
	position : relative;
	margin: 10% auto;
}

p{
	color: #000;
	font-family: 'Unna', serif;
	font-size: 20px;
	text-align : justify;
	max-width : 45%;
	margin : 4% auto;
}

blockquote {
	font-family: 'Montserrat', sans-serif;
	 font-weight: 700;
	color: #BDBDBD;
	text-align : left;
	font-size: 40px;
	max-width : 200px;
	position : absolute;
	top : 0;
	right : 5%;
	margin-top: 0;
}

.intro {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align : justify;
	margin-top: 0;
}

.site-top {
	border: 0;
	background: #FCE1CB;
	border-bottom: 1px;
	top: 0;
	width: 100%;
	z-index: 50;
	height: 70px;
	margin-top: 0px;
	margin-bottom: 0px;



}
